params {
  threads    = 16
  min_dp     = 10
  baseq      = 20
  mapq       = 20
  max_depth  = 100000
  outdir     = 'results'
  sample     = 'sample'
}

process {
  // Ensure every process inherits thread count unless overridden
  cpus = { params.threads }
  memory = '16 GB'
  errorStrategy = 'retry'
  maxRetries = 1
  maxForks = 4
  conda = true
}

cleanup = true

profiles {
  conda { process.conda = true }

  docker {
    docker.enabled = true
    process.containerEngine = 'docker'
    process.conda = false
    process {
      withName:INDEX_REF { container = 'staphb/samtools:latest' }
      withName:MAP_ILLUMINA { container = 'quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0' }
      withName:MAP_ONT { container = 'quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0' }
      withName:ONT_BAM_TO_FASTQ { container = 'staphb/samtools:latest' }
      withName:ADD_RG_ILLUMINA { container = 'staphb/samtools:latest' }
      withName:ADD_RG_ONT { container = 'staphb/samtools:latest' }
      withName:MERGE_BAM { container = 'staphb/samtools:latest' }
      withName:CALL_VARIANTS { container = 'staphb/bcftools:latest' }
      withName:MAKE_MASKS { container = 'pegi3s/samtools_bcftools:latest' }
      withName:MAKE_CONSENSUS { container = 'pegi3s/samtools_bcftools:latest' }
      withName:BCFTOOLS_STATS { container = 'staphb/bcftools:latest' }
      withName:SAMTOOLS_STATS_ALL { container = 'staphb/samtools:latest' }
      withName:SAMTOOLS_STATS_ILLUM { container = 'staphb/samtools:latest' }
      withName:SAMTOOLS_STATS_ONT { container = 'staphb/samtools:latest' }
      withName:MULTIQC { container = 'staphb/multiqc:latest' }
    }
  }

  singularity {
    singularity.enabled = true
    process.containerEngine = 'singularity'
    process.conda = false
    singularity.autoMounts = true
    process {
      withName:INDEX_REF { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:MAP_ILLUMINA { container = 'docker://quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0' }
      withName:MAP_ONT { container = 'docker://quay.io/biocontainers/mulled-v2-66534bcbb7031a148b13e2ad42583020b9cd25c4:1679e915ddb9d6b4abda91880c4b48857d471bd8-0' }
      withName:ONT_BAM_TO_FASTQ { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:ADD_RG_ILLUMINA { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:ADD_RG_ONT { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:MERGE_BAM { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:CALL_VARIANTS { container = 'docker://quay.io/biocontainers/mulled-v2-b5646822cc2a81c31b38332d48b19e2b8a8b3d54:54e63ab734620a0f5141883e6a3564e8e4a94473-0' }
      withName:MAKE_MASKS { container = 'docker://quay.io/biocontainers/mulled-v2-b42cd9e3f2ad0e93071a7c402eee1b4a1b8340d0:ac4a2d7b0c7d269e8f9bc1144c45db39b7bafe2f-0' }
      withName:MAKE_CONSENSUS { container = 'docker://quay.io/biocontainers/mulled-v2-b5646822cc2a81c31b38332d48b19e2b8a8b3d54:54e63ab734620a0f5141883e6a3564e8e4a94473-0' }
      withName:BCFTOOLS_STATS { container = 'docker://biocontainers/bcftools:1.20--h8b25389_1' }
      withName:SAMTOOLS_STATS_ALL { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:SAMTOOLS_STATS_ILLUM { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:SAMTOOLS_STATS_ONT { container = 'docker://biocontainers/samtools:1.20--h50ea8bc_0' }
      withName:MULTIQC { container = 'docker://biocontainers/multiqc:1.21--pyhdfd78af_0' }
    }
  }
}
